.quantity-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 4px;
}

.quantity-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: rgba(88, 88, 88, 0.1);
  padding: 10px 20px;
  border-radius: 4px;
	width: 100px;
}

.h5-container {
	width: 75px;
	text-align: center;
}

.h5-container h5 {
  user-select: none;
  font-weight: 700;
	padding-right: 15px;
	font-size: 1.25rem;
	margin: 0;
}

.chevron-container {
  display: flex;
  flex-direction: column;
}

.fa-chevron-down,
.fa-chevron-up {
  cursor: pointer;
  color: rgb(74, 74, 74);
  font-size: 1rem;
}

.fa-chevron-up.inactive,
.fa-chevron-down.inactive {
  cursor: auto;
  color: rgba(74, 74, 74, 0.5);
}
